<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <!-- <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom"> -->
            <a href="/"
                class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                <span class="fs-4">SPEBT</span>
            </a>

            <ul class="nav nav-pills">
                {% for item in site.data.navigation %}
                {% if page.url==item.link %}
                <li class="nav-item"><a href="{{ item.link }}" class="nav-link active" aria-current="page">{{ item.name
                        }}</a></li>
                {% else class="nav-link" %}
                <li class="nav-item"><a href="{{ item.link }}" class="nav-link">{{ item.name }}</a></li>
                {% endif %}
                {% endfor %}
            </ul>
    </div>
</nav>